body, html {
    margin: 0 auto;
    padding: 0;
    background-color: cyan;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    margin: 5% auto 20%;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    color: darkcyan;
}

.box ul li {
    position: relative;
    list-style: none;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover {
    color: cyan;
}

.topnav {
    overflow: hidden;
    background-color: darkcyan;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: cyan;
}

.topnav a.active {
    background-color: #4CAF50;
    color: darkcyan;
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}